@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Phudu&family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');


/* NAVBAR */

.navbar_personalizado {
    background-color: rgba(245, 231, 215, 0.868);
    font-weight: bold;
    font-size: 1.6rem;
}


.logo_gracie {
    width: 50px;
    padding-left: 5px;
}

.titulo_gracie {
    font-weight: bold;
    /*font-family: 'Phudu', cursive;*/
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Ubuntu', sans-serif;
    margin: auto;

}

/* BODY */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: rgba(245, 231, 215, 0.868);

}

/* PRODUCTOS */
.titulo_productos {
    background-color: bisque;
    color: chocolate;
    text-align: center;
    font-weight: bold;
    padding: 16px;
    text-transform: uppercase;
    font-size: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.cajas {
    box-shadow: 5px 5px 10px black;
}

/* IMAGEN CAROUSEL 
.img_carousel {
    object-fit: contain;
    max-height: min-content;
    width: max-content;
}*/

.img_carousel img {
    border-radius: 20px;
}

/* SOBRE MI */
.sobre_mi {
    color: #01021b;
    padding: 5px 10%;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
    /*text-shadow: 2px 2px 0 #fafafa, 2px 2px 0 #fafafa, 2px 2px 0 #fafafa, 2px 2px 0 #fafafa;*/
}

.titulo_mi {
    text-align: center;
    text-shadow: 3px 3px 0 #fafafa, 3px 3px 0 #fafafa, 3px 3px 0 #fafafa, 3px 3px 0 #fafafa;
}

.fondo_body {
    background-image: url("../img/fondo_sobremi2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* CONTACTO */

.btn_enviar {
    margin-top: 10px;
    background-color: lightblue;
    border-radius: 10px;
}

.formulario_personalizado {
    margin: 5px 0px;
}

.text_formulario {
    font-weight: bold;
}

/* GALERIA */
.item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.contenedor_grid {
    display: grid;
    grid-template-areas: 
    "cuadro_a cuadro_b cuadro_d"
    "cuadro_e cuadro_b cuadro_c"
    "cuadro_f cuadro_g cuadro_c"
}
.cuadro_a{
    grid-area: cuadro_a;
}
.cuadro_b{
    grid-area: cuadro_b;
}
.cuadro_c{
    grid-area: cuadro_c;
}
.cuadro_d{
    grid-area: cuadro_d;
}
.cuadro_e{
    grid-area: cuadro_e;
}
.cuadro_f{
    grid-area: cuadro_f;
}

.grid_img {
    width: 100%; /* Hace que la imagen ocupe todo el ancho del contenedor */
    height: 100%; /* Hace que la imagen ocupe todo el alto del contenedor */
    object-fit: cover; /* Ajusta la imagen para que cubra completamente el contenedor sin distorsionarla */
    border-radius: 20px;
    padding: 5px;

}
  

  
  
  
  
