@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Phudu&family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');


/* NAVBAR */

.navbar_personalizado {
    background-color: rgba(245, 231, 215, 0.868);
    font-weight: bold;
    font-size: 1.3rem;
}

.navbar_hover:hover {
    text-shadow: 2px 2px 0 #c6c2c266, 2px 2px 0 #c6c2c266, 2px 2px 0 #c6c2c266, 2px 2px 0 #c6c2c266;
    transition: 88ms;
}

.logo_gracie {
    width: 50px;
    padding-left: 5px;
}

.titulo_gracie {
    font-weight: bold;
    font-family: 'Phudu', cursive;
    /*font-family: 'Roboto', sans-serif;*/
    /*font-family: 'Ubuntu', sans-serif;*/
    margin: auto;
    font-size: x-large;

}

/* BODY */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: rgba(245, 231, 215, 0.868);

}

/* PRODUCTOS */
.titulo_productos {
    background-color: bisque;
    color: chocolate;
    text-align: center;
    font-weight: bold;
    padding: 16px;
    text-transform: uppercase;
    font-size: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.cajas {
    box-shadow: 5px 5px 10px black;
}

/* IMAGEN CAROUSEL */


.img_carousel img {
    width: 100%;
    max-height: 600px;
    min-height: 400px;
    object-fit: cover;
    border-radius: 20px;
}

/* SOBRE MI */
.sobre_mi {
    color: #01021b;
    padding: 5px 10%;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
    /*text-shadow: 2px 2px 0 #fafafa, 2px 2px 0 #fafafa, 2px 2px 0 #fafafa, 2px 2px 0 #fafafa;*/
}

.titulo_mi {
    text-align: center;
    text-shadow: 3px 3px 0 #fafafa, 3px 3px 0 #fafafa, 3px 3px 0 #fafafa, 3px 3px 0 #fafafa;
}

.fondo_body {
    background-image: url("../img/fondo_sobremi2.jpg");
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
}

/* CONTACTO */

.btn_enviar {
    margin-top: 10px;
    background-color: rgba(188, 182, 182, 0.448);
    border-radius: 10px;
    padding: 2px 15px;
    font-weight: bold;
}

.btn_enviar:hover {
    background-color: rgb(248, 172, 172);
}

.formulario_personalizado {
    align-content: center;
    text-align: center;
}

.contacto_column {

    margin-top: -10px;

}

.text_formulario {
    font-weight: bold;
    margin-top: -20px;
    width: 100vh;
}

.saludo_map {
    text-align: center;
}

.contacto_saludo {
    font-size: 1.4rem;
    font-weight: bold;
}

.container_map {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}


.contacto_map {
    display: inline;
    align-items: center;
    border-radius: 10px;
}

.padre_flex {
    display: flex;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.hijo_flex {
    width: 50%;
    padding: 60px 50px;
}

@media (min-width: 501px) and (max-width: 900px) {
    .hijo_flex {
        max-width: 900px;
        min-width: 501px;
        padding: 0px 0px;

    }

}

@media (max-width: 500px) {
    .hijo_flex {
        max-width: 500px;
        min-width: 300px;
        padding: 0px 0px;


    }

}




/* GALERIA */
.item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor_grid {
    display: grid;
    grid-template-areas:
        "cuadro_a cuadro_b cuadro_d"
        "cuadro_e cuadro_b cuadro_c"
        "cuadro_f cuadro_g cuadro_c"
}

.cuadro_a {
    grid-area: cuadro_a;
}

.cuadro_b {
    grid-area: cuadro_b;
}

.cuadro_c {
    grid-area: cuadro_c;
}

.cuadro_d {
    grid-area: cuadro_d;
}

.cuadro_e {
    grid-area: cuadro_e;
}

.cuadro_f {
    grid-area: cuadro_f;
}

.grid_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    padding: 5px;
}


/* FOOTER */

.logo_redes {
    width: 35px;

}






/*prueba contacto*/